<div class="content-header">
    <div class="card">
        <div class="card-header">
            <h1>Add Supplier</h1>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row g-5">
                    <div class="col-md-5 col-lg-4 order-md-last">

                    </div>
                    <div class="col-md-7 col-lg-8">
                        <form class="needs-validation" novalidate="">

                            <div class="row g-3">

                                <div class="col-sm-6 ">
                                    <label for="SupplierId" class="form-label">Supplier Id</label>
                                    <input type="text" class="form-control" id="SupplierId" placeholder="SupplierId"
                                        value="" required>
                                </div>

                                <div class="col-sm-6">
                                    <label for="SupplierName" class="form-label">Supplier Name</label>
                                    <input type="text" class="form-control" id="SupplierName"
                                        placeholder="Supplier Name" value="" required>
                                </div>

                                <div class="col-sm-6">
                                    <label for="Contact" class="form-label">Contact</label>
                                    <input type="text" class="form-control" id="Contact" placeholder="Contact" value=""
                                        required>
                                </div>

                                <div class="col-sm-6">
                                    <label for="DropPrice" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Email" value=""
                                        required>
                                </div>



                                <div class="col-sm-6">
                                    <label for="Date" class="form-label">Date</label>
                                    <input type="date" class="form-control" id="Date" placeholder="Date" value=""
                                        required>
                                </div>


                                <div class="col-12">
                                    <label for="Address" class="form-label">Address</label>
                                    <div class="input-group has-validation">
                                        <textarea class="form-control" id="Address" placeholder="Address"
                                            required></textarea>
                                    </div>
                                </div>
                            </div>

                            <hr class="my-4">

                            <div class="container mt-5">
                                <div class="d-flex justify-content-center gap-2">
                                    <button class="btn btn-primary flex-grow-1" type="button">Add Supplier</button>
                                    <button class="btn btn-danger flex-grow-1" type="button">Reset</button>
                                </div>
                            </div>

                            <!-- <button class="w-100 btn btn-primary btn-lg" type="submit">Add</button> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>