.nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.dropdown-menu {
    background-color: #343a40;
    border: none;
    padding: 0;
    width: 100px;
    
}

/* Adjust sidebar menu items */
.nav-sidebar .nav-item {
    width: 100%;
    text-align: left; /* Align text to the left */
}

/* Ensure dropdowns expand full width */
.dropdown-menu {
    width: 100%;
}


.dropdown-item {
    color: #c2c7d0;
    
}

.dropdown-item:hover {
    background-color: #495057;
    color: #fff;
}

.nav-item .dropdown-menu {
    position: relative;
}

/* Add this to your CSS file or within a <style> tag */
.center-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* Adjust the height as needed */
}
.center-item .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.center-item .nav-link i {
    margin-right: 5px; /* Optional: Adjust the spacing between the icon and the text */
}

.font-size{
    font-size: 16px;
}

.align-item{
    text-align: center;
}
.float{
    float: left;
}